<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @flower_box.price %>
</p>

<p>
  <strong>Size:</strong>
  <%= @flower_box.size %>
</p>

<p>
  <strong>Color:</strong>
  <%= @flower_box.color %>
</p>



<%= link_to 'Back', flower_boxes_path %>
