<p id="notice"><%= notice %></p>

<p>
  <h5>Name:</h5>
  <%= @user.name %>
</p>

<p>
  <h5>Email:</h5>
  <%= @user.email %>
</p>

<p>
  <h5>Password:</h5>
  <%= @user.password %>
</p>

<div class = "btn"><%= link_to 'Edit', edit_user_path(@user) %></div>
<div class = "btn"><%= link_to 'Back', users_path %></div>
<div class = "btn"><%= link_to 'Show Adresses', user_adresses_path(@user) %></div>
