<p id="notice"><%= notice %></p>

<p>
  <h5>Billing street:</h5>
  <%= @adress.billing_street %>
</p>

<p>
  <h5>Billing house number:</h5>
  <%= @adress.billing_house_number %>
</p>

<p>
  <h5>Billing zipcode:</h5>
  <%= @adress.billing_zipcode %>
</p>

<p>
  <h5>Billing city:</h5>
  <%= @adress.billing_city %>
</p>

<p>
  <h5>Shipping street:</h5>
  <%= @adress.shipping_street %>
</p>

<p>
  <h5>Shipping house number:</h5>
  <%= @adress.shipping_house_number %>
</p>

<p>
  <h5>Shipping zipcode:</h5>
  <%= @adress.shipping_zipcode %>
</p>

<p>
  <h5>Shipping city:</h5>
  <%= @adress.shipping_city %>
</p>

<p>
  <h5>User:</h5>
  <%= @adress.user_id %>
</p>

<div class = "btn"><%= link_to 'Edit', edit_user_adress_path(@adress.user_id,@adress.id)%></div>
<div class = "btn"><%= link_to 'Back', user_adresses_path(@user) %></div>
